

.board-controls {
  --radius-amount: 0.6em;
  --text-color: #101010;
}

/* style native HTML5 dialog element*/
.board-controls:modal {
  border-radius: 1em;
  padding: 2em;
  background-color: white;
  border: 4px solid var(--gunmetal);
  opacity: 0;
  animation: fadeIn 300ms ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.board-controls[open]{
  opacity: 1;
}

.board-controls__form {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
.board-controls__fields {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.board-controls__title {
  font-size: 1.2em;
  margin-top: 0;
}

.board-controls__btn {
  border: none;
  border-radius: var(--radius-amount);
  background: var(--secondary-tint);
  color:white;
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-size: 1em;
  cursor: pointer;
}

.board-controls__btn:not(:last-child){
  margin-right: 0.75em;
}
.board-controls__btn:hover {
  background: var(--secondary-tint-highlight);
}

.submit-btn:disabled {
  background-color: #868686;
}

.field {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;
}

.field__errors {
  color: var(--carmine);
}

.field__title {
  color: var(--text-color);
  display: inline-block;
  width: 6.5em;
  margin-right: 0.5em;
}

.field__input {
  border: 2px solid var(--primary-tint);
  border-radius: var(--radius-amount);
  padding: 0.7em 1em;
  font-size: 1em;
  max-width: 3em;
}
.field__input:focus, .field__input:active {
  border-color: var(--indigo-dye);
}
.field__input:focus-visible {
  outline-color: var(--gunmetal);
}


@media only screen and (max-width: 790px){
  .field > label{
    flex-direction: column;
  }
}
