
/* ensure Angular does not wrap contents of payers component inside <app-players> tag */
:host {
  display: contents;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.6em;
  padding: 0.6em 1.2em;
  background-color: white;
  transition: scale 300ms ease-in;
  min-height: 4em;
  gap: 0.5em;
  min-height: 6em;
  min-width: 10em;
}

.player__info {
  display: flex;
  align-items: center;
}

.player--active {
  background-color: var(--secondary-tint);
  color: white;
}

.player--second {
  order: 1;
}

.player__symbol {
  width: 2em;
  height: 2em;
}
.player--active .player__symbol {
  background-color: white;
  border-radius: 0.6em;
}

.player__name {
  font-weight: bold;
  font-size: 1.2em;
  margin-right: 0.5em;
}


/* Switch button styles  */
.switch__label {
  position: relative;
}

.switch__toggle {
  width: 11em;
  height: 2em;
  background: #3a3a3a;
  border-radius: 1em;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  display: block;
}
.switch__toggle::after{
  content: attr(data-off);
  position: absolute;
  top: 0;
  left: 0;
  /*min-width: 4.5em;*/
  height: calc(100% - 6px);
  border: 3px solid #3a3a3a;
  background-color: var(--primary-tint-highlight);
  border-radius: 1em;
  transition: all 0.3s ease;
  text-align: center;
  cursor: pointer;
  padding: 0 0.5em;
  color: black;
  font-weight: 600;
}
.switch__toggle::before{
  content: attr(data-on);
  position: absolute;
  top: 0;
  right: 0;
  /*min-width: 5em;*/
  height: calc(100% - 6px);
  border: 3px solid #3a3a3a;
  text-align: center;
  cursor: pointer;
  padding: 0 0.5em;
  color: white;
}

.switch__input{
  cursor: pointer;
  width: 100%;
  height: 100%;
  opacity: 0;
  margin: 0;
  padding: 0;
  position: absolute;
}

.switch__input:checked + .switch__toggle {

}
.switch__input:checked + .switch__toggle::after {
  content: attr(data-on);
  left: auto;
  right: 0;
  color: black;
}
.switch__input:checked + .switch__toggle::before {
  content: attr(data-off);
  left: 0;
  right: auto;
}





@media screen and (max-width: 800px){
  .player--second {
    order: 0;
  }
}
